#LEADER-M
LEADER_M_FEED = ""

#LEADER
LEADER_FEED = ""

#COMPUWORLD
CW_FEED = ""

#BLUECHIP
BL_FEED = ""

#MULTIMEDIA
MMT_FEED = ""

#MITTONI
MITTONI_USERNAME = ""
MITTONI_PASSWORD = ""

#POWERHOUSEPC
PHPC_FEED = ""

#IJK 
IJK_USERNAME = ""
IJK_PASSWORD = ""

#FORCE TECHNOLOGY
FORCE_USERNAME = ""
FORCE_PASSWORD = ""

#4CABLING
FEED_4CABLING = ""

#ALLOY
ALLOY_FEED = ""

#ALLOYS
ALLOYS_FEED = ""

#DICKER DATA
DICKER_FEED = ""

#AUSCOMP
AUSCOMP_FEED = ""
AUSCOMP_PORT = ""
AUSCOMP_FILENAME = ""
AUSCOMP_USERNAME = ""
AUSCOMP_PASSWORD = ""

#NEWMAGIC
NEWMAGIC_USERNAME = ""
NEWMAGIC_PASSWORD = ""

#STREAKWAVE
STREAKWAVE_FEED = ""

#BCM_LOGIN
BCM_USERNAME = ""
BCM_PASSWORD = ""

#EMAIL LOGIN
EMAIL_HOST = ""
EMAIL_USERNAME = ""
EMAIL_PASSWORD = ""